{% load static %}

<html>
    <head>
        <title>Constantinos' Blog 2020</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <p>Hello, my name is Constantinos Iacovou and this is</p>
        <h1><a href="/">My Personal Blog</a></h1>
        <br>
        <h3>Latest Posts</h3>

        <br>

        {% for post in posts %}

            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>

            <br>
        {% endfor %}

        <br>

    </body>
</html>