<html>
    <head>
        <title>Constantinos' Blog 2020</title>
    </head>

    <body>
        <p>Hello, my name is Constantinos Iacovou and this is</p>
        <h1><a href="/">My Personal Blog</a></h1>
        <br>
        <h3>Latest Posts</h3>

        <br>

        {% for post in posts %}

            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>

            <br>
        {% endfor %}

        <br>
        
    </body>
</html>