<html>
    <head>
        <title>Constantinos' Blog 2020</title>
    </head>
    <body>
        <p>Hello, my name is Constantinos Iacovou and this is</p>
        <h1><a href="/">My Personal Blog</a></h1>
        <br>
        <h3>Latest Posts</h3>
        <br>
        <div>
            <p>published: Saturday, June 13, 2020 17:51</p>
            <h2>To prwto kimma</h2>
            <p>Se afto to kommati tha thelame na grapsoume oti o kolos en meli.Niaou. Eeeeo more eeeokaaa ola ta paidia, EOKA PEKA KAI ANE TO VRADI KARAOULI,
                eoka peka kai ane to vradi KARAOULI. Tou fronimou ta paidia prin pinasoun mageirevoun. O epimenon nika kai xaneis oles tis voles pou den rixneis. Metafrasi: "You miss 100% the shots you don't take."
            </p>
        </div>
        <br>
        <div>
            <p>published: Saturday, June 13, 2020 18:28</p>
            <h2>To deftero kimma</h2>
            <p>In this coursework, you’re going to be working independently with a couple of technologies that you might not have used before.
                First, you will be using Python to develop this. While potentially new to you, in your career as a computer scientist,
                you will be expected to learn new programming languages and technology, and given your backgrounds,
                the transition to using Python for this shouldn’t be too difficult.
                Python is a great language to learn and will be one that will crop up time and time again,
                quite possibly during internships or you may even use it in your final year project,
                so getting some experience with this now will be extremely valuable.
            </p>
        </div>
    </body>
</html>